# Laravel
backend/vendor/
backend/.env
backend/storage/logs/
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/
backend/bootstrap/cache/

# React / Node
frontend/node_modules/
frontend/dist/

# Éditeurs
.vscode/
.idea/
.DS_Store
